* Need to read the JSON data that are provided by NASA.
* Find the distances of closest (perigee) and farthest approach (apogee).
* Export a summary of the closest and farthest approaches as a CSV file.
